.navbar {
    width: 100vw;
    height: 100px;
    background-color: black;
}

.navbar > img {
    width: 100px;
    height: 70px;
    border-radius: 50%;
}

.navbar > a {
    position: relative;
    top: -20px;
    padding-left: 70px;
    background: transparent;
    color: white;

}

.navbar > a:hover {
    transition: all ease .3s;
    color: gray;
}

.navbar > input {
    width: 208px;
    height: 40px;
    position: relative;
    top: -20px;
    left: 700px  ;
    border-radius: 20px;
}


.navbar > button {
    background: #ffff;
    color: black;
    width: 200px;
    height: 40px;
    position: relative;
    left: 750px;
    top: -20px;
}

.navbar > button:hover {
    transition: all ease .3s;
    color: white;
    background: black;
    border-color: black;
}